@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}

/* 間隔 */
.p-none{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-tb-10{
    padding: 10px 0;
}
.p-lr-10{
    padding: 0 10px;
}
.m-r-10{
	margin-right: 10px;
}

/*背景顔色*/
.bg-white{
    background-color: #fff;
}

/* 字体颜色 */
.text-color-blue {
  color: #409EFF;
}
.text-color-success {
  color: #67C23A;
}
.text-color-warning {
  color: #E6A23C;
}
.text-color-danger {
  color: #F56C6C;
}
.text-color-info {
  color: #909399;
}
.text-color-primary {
  color: #303133;
}
.text-color-regular {
  color: #606266;
}
.text-color-secondary {
  color: #909399;
}
.text-color-placeholder {
  color: #c0c4cc;
}
.text-color-base {
  color: #dcdfe6;
}
.text-color-light {
  color: #e4e7ed;
}
.text-color-lighter {
  color: #ebeef5;
}
.text-color-extra-light {
  color: #f2f6fc;
}
.red{
    color: #ff0000;
}

.el-submenu__title:focus, .el-submenu__title:hover{
    background: #20a0ff !important;
    color: #fff !important;
}
.el-submenu__title:focus i, .el-submenu__title:hover i{
    color: #fff !important;
}
.el-menu-item:focus, .el-menu-item:hover{
    background: #20a0ff !important;
    color: #fff !important;
}
.el-menu-item:focus i, .el-menu-item:hover i{
    color: #fff !important;
}
.collapse-btn:hover{
    background-color: #3a8ee6 !important;
}
.el-menu-item.is-active{
    background: #20a0ff !important;
    color: #fff !important;
}

.content-box {
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom: 0;
    /*padding-bottom: 30px;*/
    padding: 20px 0 20px 10px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
}

.content {
    width: auto;
    height: 100%;
    /*padding: 10px;*/
    overflow-y: scroll;
    box-sizing: border-box;
    /*background-color: #fff;*/
}

.content-collapse {
    left: 65px;
}
.container {
    padding:20px 30px;
    background: #fff;
    /*border: 1px solid #ddd;*/
    border-radius: 5px;
}

/*数据检索栏*/
.handle-box {
    margin-bottom: 10px;
}
.handle-select {
    width: 120px;
}
.handle-input-xs {
    width: 80px;
    display: inline-block;
}
.handle-input-sm {
    width: 120px;
    display: inline-block;
}
.handle-input-md {
    width: 180px;
    display: inline-block;
}
.handle-input-lg {
    width: 300px;
    display: inline-block;
}
.demo-input-suffix{
    margin-bottom: 10px;
	display: inline-block;
	color: #333;
	font-size: 14px;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
	width: 130px;
}
.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
	padding: 0 5px;
}

/*弹出框*/
.del-dialog-cnt{
    font-size: 16px;
    text-align: center
}
.table{
    width: 100%;
    font-size: 14px;
}

.crumbs {
    padding:0px 0 20px 0;
    /*margin: 0 30px;*/
    /*border-bottom: 1px solid #ddd;*/
    font-size: 18px;
}
.el-breadcrumb{
    font-size: 18px !important;
}

.el-table thead{
    color: #666 !important;
    font-weight: normal !important;
}
.el-table thead tr th{
    background: #f0f0f0 !important;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}

/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}

/*Upload*/

.pure-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
    height: 45px;
}

.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
}

.el-upload--text em {
    font-style: normal;
}

/*VueEditor*/

.ql-container {
    min-height: 400px;
}

.ql-snow .ql-tooltip {
    transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
    margin-top: 20px;
}

/*markdown*/

.v-note-wrapper .v-note-panel {
    min-height: 500px;
}
